@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');


*{
    box-sizing: border-box;
}

body {
    background-color: rgb(50, 190, 240);
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.title {
    width: 80vw;
    position: relative;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}


h1 {
   color: #fff;
   letter-spacing: 2px;
  
}

