/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');


* {
    box-sizing: border-box; 
}

body {
    background-color: #f5f5f5;
    color: #444;
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.home-btn {
    position: absolute;
    top: 25px;
    left: 25px;    
    text-decoration: none;
    font-size: 30px;
    color: rgb(50, 190, 240);
    
}

@media (max-width: 580px) {
    .home-btn {
        top: 25px;
        left: 8px;
    }
}

h1 {
    color: rgb(50, 190, 240);
    font-size: 10rem;
    text-align: center;
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    top: 20px;
}

@media (max-width: 580px) {
    h1 {
        font-size: 3rem;
        top: 100px;
    }
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 400px;
    margin-top: 150px;
}

@media (max-width: 580px) {
    form {
        width: 70vw;
        margin-top: 0;
    }
}


.input {
    border: none;
    color: #444;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    display: block;
    width: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    border: 1px solid rgb(50, 190, 240);
    z-index: +1;
    
}

@media (max-width: 580px) {
    .input {
        font-size: 1rem;
    }
}

.fixed.input {
    position: sticky;
    top: 10%;
}

.input::placeholder {
    color: #d5d5d5;
}

.input:focus {
    outline-color:  rgb(50, 190, 240);
}

.todos {
    background-color: #fff;
    opacity: 0.8;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.todos li {
    border-top: 1px solid #e5e5e5;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.todos li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
    text-decoration-color:  rgb(50, 190, 240);
}

p {
    color: #afafaf;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 50px;
}


